* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

body {
    background-image: url(images.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-box {
    border: 3px solid #000;
    background: linear-gradient(
        to right,
        #e4994a 0%,
        #8f8faa 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    margin-top: 20px;
    color: #f0f8ff;
    width: 50%;
}

.pokemon-info {
background-color: #000000;
border-radius: 25px;
display: flex;
flex-direction: row;
}

.pokemon-details {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

span {
    color: #ff1a1a;
    font-weight: bold;
}

.pokemon-list-container {
    margin-top: 50px;
}

button {
    border-radius: 15px;
    border: 2px solid #0313a9;
    margin: 10px;
    padding: 8px;
    background-color: #000000;
    color: #0313a9;
}

button:hover {
    transition: ease-in-out 0.25s;
    border: 3px solid #fff5ee;
    background-color: rgb(179, 0, 0);
    font-weight: bold;
    font-style: italic;
    color: #d8bfd8;
    padding: 9px;
    cursor: pointer;
}

 @media screen and (max-width: 50%){
     .list-box{
         width: 300px;
         padding: 30px;
     }
     .pokemon-info{
         width: 240px;
         height: 350px;
     }
     .pokemon-details{
         margin-top: 10px;
     }
 }